/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Barlow'; /*, sans-serif*/
	font-size: 105%;
    /*box-shadow: 0px 0px 0px 1px rgba(141, 141, 139, .75);*/
    width: 100%;
    position: fixed;
}

.intro img{
	width: 100%;
}

/*.container {
    position: relative;
    text-align: center;
    color: white;
}*/

.topimage {
	display: block;
	position: relative;
	z-index: -20;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.centered h1{
	color:#fff; 
	font-size: 1.2em;
}

.centered h2{
    color:#fff; 
    font-size: 0.7em;
}


/*.nav{
	float: right;
	height: 8vh;
}*/

/*MAIN STYLE*/
header, footer, .logo {
	background-color: #fff;
	color: #595656;
	font-family: 'Barlow', sans-serif; 
}
body{
	display: flex;
	flex-direction: column;
	margin: 0px;
	background-color: #fafafa;
	font-family: 'Barlow', sans-serif;
}

div{
	/*display: block;*/
	text-align: center;
	/*z-index: -2;*/
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Barlow', sans-serif;
	color: #595656;
}
p{
	font-family: 'Barlow', sans-serif;
	color: #595656;
	/*font-size: 1em;*/
	text-align: justify;
	line-height: 1.5em;
	font-weight: light;
	font-size: 1.03em;
}

ul{
	margin: 0em;
}

li{
	font-family: 'Barlow', sans-serif;
	color: #595656;
	/*font-size: 1em;*/
	text-align: justify;
	line-height: 1.2em;
	font-weight: light;
	text-align: left;
	font-size: 1.03em;
}

.left{
	text-align: left;
}


h1{ 
	margin-top: 2.2em;
	margin-bottom: 0;
	font-size: 1.75em; 
	text-align: center;
}
h2{
	font-size: 1.25em;
	margin-top: 0.8em;
	text-align: center;
	font-weight: bold;
	font-weight: lighter;
	margin-bottom: 1.5em;
}
h3{
	font-size: 1.1em;
	margin-bottom: 0.3em;
	font-weight: lighter;
	text-align: left;
	padding-top: 1.5em;
	font-style: oblique;
	line-height: 1.5em;
}
h4{
	font-size: 1.08em;
	margin: 0em 0em 1em 0em;
	font-weight: bold;
	text-transform: uppercase;
	color: #EF8AA5;
	text-align: left;
	padding-top: 2em;
}
h5{
	font-size: 1em;
	/*text-transform: uppercase;*/
	color: #EF8AA5;
	text-align: left;
	margin: 0.5em;
	font-weight: normal;
	margin-left: 0;
	/*padding-top: 0.2em;*/
}
h6{
	font-size: 0.83em;
	font-style: oblique;
	text-align: center;
	font-weight: lighter;
	margin: 0.5em 0 0 0;
	/*padding-top: 0.5em;*/
}


/*hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #DCDDDD,#595656, #DCDDDD);
}*/


hr{
    border: 0;
    border-bottom: 5px dashed #ccc;
    /*background: #fff;*/ /*#999*/
   }

/*mobile-first*/
nav{
	z-index: 500;
}

.top-nav ul{
	list-style-type: none;
	padding: 0;
	background-color: #fff;
	margin: 0;
	display: block;
	text-align: center;
}
/*.top-nav ul li, .menu-icon{
	border-top: 1px solid #DDDDDA;
}*/

.top-nav ul li a{
	font-size: 1em;
	color: #595656;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}
.menu-icon a{
	font-size: 1em;
	color: #DDDDDA;
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}


.top-nav ul li a.current-page{
	color: #E4007F;
	font-weight: bold;
}
/*.top-nav ul li a.current-page:before {
  content: "\27A4  ";
  color: #F54320;
  padding-right: 4px;
  position: relative;
  top: 1px;
}*/

/*.top-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #e4007f;
}
*/
.top-nav ul li a:hover, .top-nav ul li a:focus{
    /*background-color: #E3AD02;*/
    color: #DCDDDD;
    font-weight: normal;
}
/*.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
    content: "\27A4  ";
  	color: #DDDDDA;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}*/


/*implement menu toogle*/
.top-nav.toggle-open ul{
	display: block;
}



/*-----LOGO-----*/
.logo{
	text-align: center;
	padding: .25em .75em;
}
.logo img{
    /*display: block;*/
    height: 3em;
    t/*ext-align: center;*/
}


.intro{
	padding-top: 12em;
}


/*WORK*/
/*section .work{
	z-index: -1;
}*/



.work{
	padding-right: 4%;
	padding-left: 4%;
}

.photo-cell{
	/*margin-bottom: 4%;*/
	/*margin-left: 2%;*/
	/*margin-right: 4%;*/
	position: relative;
	min-height: 1px;
	z-index: -1;
}

.photo-cell img{
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 0;
	/*z-index: -1;*/
	padding-bottom: 4%;
}

/*#caption1, #caption2{
	max-width: 100%;
	margin: 0 0;
	background-color: #fff;
	text-align: center;
	padding: 1% 0px;
	margin-bottom: 4%;
	z-index: -2;
}*/

.photo-list{
	padding-bottom: 5%;
	border-bottom-color: #DCDDDD;
	border-bottom-width: 5px;
}

/*Hover Overlay*/
/*.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E4007F;
}

#item1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/




/*work piece page*/
.content{
	padding-left: 5em;
	padding-right: 5em;
}

.content a{
	color: #E4007F;
	text-decoration: none;
}


.content img{
	max-width: 100%;
	display: block;
	/*position: relative;*/
	margin-right: auto;
	margin-left: auto;
	z-index: -1;
	padding-top: 0.5em;
}


.content li{
	line-height: 1.5em;
}

.content ul, ol{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

/*.invision_frame {
    position: relative;
    height: 0;
    overflow: hidden;
}

.frame_res{
	padding-bottom: 178%;
}

.invision_frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    border: 0;
    padding-left: 0.1em;
    padding-right: 0.1em;
}*/

.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 100%;
	/*box-sizing: border-box;*/
}

iframe{
	max-width: 100%;
	border:0;
	/*width: "1120";*//*438*/
	/*height: "930";*/
}

/*width="280" height="157.5"*/







footer{
	/*color: #F54320;*/
	font-size: .85em;
	text-align: center;
	/*box-shadow: 0px -10px 30px 2px rgba(141, 141, 139, .75);*/
	border-top: 5px dashed #ccc;
}
footer p{
	padding-top: .5em;
	padding-bottom: .75em;
}


