@media only screen and (min-width: 650px) and (max-width: 1000px){

	.content p{
		font-size: 1.06em;
		line-height: 1.7em;
		font-weight: light;
	}

	.content li{
	line-height: 1.7em;
	font-size: 1.06em;
	}


/*	.top-nav ul li a.pre, .top-nav ul li a.nxt{
		visibility: hidden;
	}

	.top-nav ul li a.pre:after{
		visibility: visible;
		content:"<<";
	}

	.top-nav ul li a.nxt:before{
		visibility: visible;
		content:">>";
	}*/

	h1{ 
		font-size: 1.85em; 
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1.15em;
		line-height: 1.8em;
	}
	h4{
		font-size: 1.14em;
	}
	h5{
		font-size: 1.1em;
		/*font-weight: lighter;*/
		/*padding-top: 0.2em;*/
	}
	h6{
		font-size: 0.93em;
	}

	.top-nav ul li, .menu-icon{
		display: inline-block;
		margin-left: auto;
		border-top: none; /*1px solid #FF0000*/
	}

	.top-nav ul{
		text-align: center;
		/*border-top: 1px red solid;*/
		top: 60%;
	}

	.top-nav ul:before{
		content:'';
		display: block;
		margin: 0 auto;
  		width:100%; 
  		padding-top: 2%;
	}

	.top-nav ul:after{
		content:'';
		display: block;
		margin: 0 auto;
  		width:100%; 
  		padding-top: 2%;
	}

	/*Open img*/
	.intro{
	padding-top: 6em;
	}



	.photo-cell img{
		width: 100%;
		padding-right: 5%;
	}

/*	#caption1, #caption2{
		width: 45%;
	}*/
	.photo-grid{
		display: inline-block;
		width: 48.5%;
		padding-right: 1%;
		padding-bottom: 1%;
	}

	.photo-grid #item1, #item3, #item5{
		padding-left: 1%;
	}

	div{
		display: block;
	}

	.content{
	padding-left: 8em;
	padding-right: 8em;
}


/*	#item1, #item2, #caption1, #caption2{
		width: 47%;
		display: inline-block;
	}*/


/*	.photo-list{
		width: 100%;
	}*/


}
@media only screen and (min-width: 1000px){

	.content p{
		font-size: 1.1em;
		line-height: 1.8em;
		font-weight: light;
	}

	.content li{
	line-height: 1.8em;
	font-size: 1.1em;
	}

/*	.top-nav ul li a.pre, .top-nav ul li a.nxt{
		visibility: hidden;
	}

	.top-nav ul li a.pre:after{
		visibility: visible;
		content:"<<";
	}

	.top-nav ul li a.nxt:before{
		visibility: visible;
		content:">>";
	}*/


	/*ul{
		margin: 0.5em;
	}

	li{
		line-height: 1.7em;
		font-size: 1.5em;
	}*/

	h1{ 
		font-size: 1.85em; 
	}
	h2{
		font-size: 1.2em;
	}
	h3{
		font-size: 1.15em;
		line-height: 1.8em;
	}
	h4{
		font-size: 1.14em;
	}
	h5{
		font-size: 1.1em;
		/*font-weight: lighter;*/
		/*padding-top: 0.2em;*/
	}
	h6{
		font-size: 0.93em;
	}


	.logo{
		float: left;
		height: 70%;
	}

/*	.top-nav {
 		display: flex;
 		align-items: center;
	}*/

	.top-nav ul li{
		display: inline-block;
		border-top: none;
		margin-top: 3.5%; /*new*/
	}

	#menu{
		float: right;
		text-align: right;
		width: auto;
		position: absolute;
		right: 0px;
	}

	li a:hover{
		color: #DCDDDD !important;
	}

/*	nav #topnav{
		z-index: 1030;
	}*/

/*	h3{
		font-size: 0.8em;
		margin-bottom: 0.3em;
	}
	h4{
		font-size: 0.6em;
		font-weight: normal;
		margin: 0em 0em 1em 0em;
	}*/



	.top-nav .logo{
		float:left;
	}

/*	div .photo-grid{
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	.photo-cell{
		width: 30%; 
		display: inline-block;
		float: left;
		z-index: 2;
	}*/

	/*Open img*/
	.intro{
	padding-top: 0em;
	}




	.photo-cell img{
		width: 100%;
		padding-right: 5%;
	}

/*	#caption1, #caption2{
		width: 45%;
	}*/
	.photo-grid{
		display: inline-block;
		width: 30%;
		padding-right: 1%;
		padding-bottom: 1%;
	}

	.photo-grid #item1, #item4{
		padding-left: 1%;
	}

	div{
		display: block;
	}

	.content{
	padding-left: 12em;
	padding-right: 12em;
}

/*	#item3, #item4{
		width:21.25%;
		display: inline-block;
	}*/
/*	div .photo-grid{
		display: inline-block;
		position: relative;
	}*/


	/*.caption*/
/*	#item1, #caption1 {
		margin-top: 0;
		margin-right:0;
		width: 33%;
		display: flex;
		flex-direction: column;
	}
*/
/*	#item1, #item2{
		display: inline-block;
		width: 33%;
	}*/



}